:root{
    --prim: #FC7300;
    --sec: #1F8A70;
    --ter: #00425A;
    --cuar: #181823;
    --quin: #EFF5F5;
}
body{
    background-color: var(--sec);
}
a{
    text-decoration: none;
    color: var(--cuar);
}
.navbar{
    width:95vw;
    margin:0 auto;
    height:fit-content;    
}
.container{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin:0 auto;
    gap: 0.4vw;
    padding: 5vh;

}
.form{
    width:70vw;
    flex-direction: column;
}
label,input,textarea{
    width:100%
}
.btn-navbar{
    background-color: var(--prim);
    width:19.7vw;
    height: 4vh;
    text-overflow: clip;
    border-radius: 3vw;
    border-style:outset;
}
.btn-navbar:hover{
    background-color: #EFF5F5;
    border-style:inset;
    cursor: pointer;
}
.btn-navbar.active{
    background-color: var(--ter);
}
